retry_count = 5
text_file_extensions = [
    ".md",
]
[[ignores]]
url = "https://csrc.nist.gov/pubs/fips/186-4/final"
codes = [200, 404]
reason = """
This URL seems to sometimes return 404 to requests from GitHub Actions' runners,
and the issue cannot be handled with retries."""
considered_alternatives = [
    "https://www.omgwiki.org/dido/doku.php?id=dido:public:ra:xapend:xapend.b_stds:tech:nist:dss", # as flaky as the original
]

[[ignores]]
url = "https://www.omgwiki.org/dido/doku.php?id=dido:public:ra:xapend:xapend.b_stds:tech:nist:dss"
codes = [200, 403, 503]
reason = """
Always returns 200, 403 or 503.
"""
considered_alternatives = [
    "https://csrc.nist.gov/pubs/fips/186-4/final", # as flaky as the original
]

[[prefix_ignores]]
prefix = "https://x.com/"
reason = "x.com doesn't seem to allow scraping"
